# Answer 21

In [26]:
import math

class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2

    def length(self):
        dx = self.p2.x - self.p1.x
        dy = self.p2.y - self.p1.y
        return math.sqrt(dx**2 + dy**2)

    def slope(self):
        dx = self.p2.x - self.p1.x
        dy = self.p2.y - self.p1.y
        
        if dx == 0:
            return None
        else:
            return dy / dx

p1 = Point(3, 4)
p2 = Point()
s = Segment(p1, p2)
print(s.length())
print(s.slope())

5.0
1.3333333333333333

# Answer 22

In [9]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%sql sqlite:///mydatabase.db

In [13]:
%%sql
CREATE TABLE Weather_table 
(
    id INT PRIMARY KEY,
    RecordDate DATE,
    Temperature INT
)

 * sqlite:///mydatabase.db
Done.

[]

In [15]:
%%sql
INSERT INTO Weather_table (id, RecordDate, Temperature)
VALUES
   (1, '2015-01-01', 10),
   (2, '2015-01-02', 25),
   (3, '2015-01-03', 20),
   (4, '2015-01-04', 30);

 * sqlite:///mydatabase.db
4 rows affected.

[]

In [16]:
%%sql
SELECT * FROM Weather_table;

 * sqlite:///mydatabase.db
Done.

[(1, '2015-01-01', 10),
 (2, '2015-01-02', 25),
 (3, '2015-01-03', 20),
 (4, '2015-01-04', 30)]

In [17]:
%%sql
WITH Lag_Weather_table AS (
    SELECT
        id AS CurrentId,
        RecordDate AS CurrentDate,
        Temperature AS CurrentTemperature,
        LAG(id) OVER (ORDER BY RecordDate) AS PreviousId,
        LAG(RecordDate) OVER (ORDER BY RecordDate) AS PreviousDate,
        LAG(Temperature) OVER (ORDER BY RecordDate) AS PreviousTemperature
    FROM Weather_table
)

SELECT CurrentId
FROM Lag_Weather_table
WHERE PreviousId IS NOT NULL AND CurrentTemperature > PreviousTemperature;

 * sqlite:///mydatabase.db
Done.

[(2,), (4,)]

# Answer 23

In [34]:
def tough(indent, pattern):
    for i in range(pattern, 0, -1):
        print(" " * indent + "*" * i)
        indent += 1

print("f(0, 0):")
tough(0, 0)
print("\nf(0, 1):")
tough(0, 1)
print("\nf(0, 2):")
tough(0, 2)
print("\nf(0, 4):")
tough(0, 4)

f(0, 0):

f(0, 1):
*

f(0, 2):
**
 *

f(0, 4):
****
 ***
  **
   *